@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/CyTool.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Database.css" asp-append-version="true" />
<script src="~/js/CyTool.js" asp-append-version="true"></script>
<script src="~/js/Database.js" asp-append-version="true"></script>


<div id="gridDatabase"></div>