@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/CyTool.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<script src="~/js/CyTool.js" asp-append-version="true"></script>
<script src="~/js/Index.js" asp-append-version="true"></script>
<form method="post" action="/Home/Database/" id="formConnect">
    <div id="serverForm">
        <h1>DB Schema</h1>
        <label for="ServerAuth">驗證：</label>
        <select id="ServerAuth">
            <option value="0">Windows 驗證</option>
            <option value="1" selected>SQL Server 驗證</option>
        </select>
        <label for="ServerName">伺服器名稱：</label>
        <input type="text" id="ServerName" />
        <label for="user">使用者名稱：</label>
        <input type="text" id="user" />
        <label for="pwd">密碼：</label>
        <input type="password" id="pwd" />
        <button class="cy-button btn-green" id="btnSend">連線</button>
    </div>
</form>
