@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/CyTool.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table.css" asp-append-version="true" />
<script src="~/js/CyTool.js" asp-append-version="true"></script>
<script src="~/js/Table.js" asp-append-version="true"></script>
<div id="gridTable"></div>
<h1>@TempData["Catalog"]</h1>