@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/CyTool.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Main.css" asp-append-version="true" />
<script>
    var pathBase = '@(Context.Request.PathBase)';
</script>
<script src="~/js/CyTool.js" asp-append-version="true"></script>
<script src="~/js/Table.js" asp-append-version="true"></script>
<form method="post" action="~/Home/Column/" id="formTable">
    <input type="hidden" name="tableName" id="tableName" value="" />
    <input type="hidden" name="tableID" id="tableID" value="" />
</form>
<form method="post" action="~/Home/Database/" id="formBack">
</form>
<div id="divTop">
    <div id="divCommand">
        <button class="cy-button btn-red" id="btnBack"><i data-size="1">undo</i>返回</button>
        <button class="cy-button btn-purple" id="btnExport"><i data-size="1">file</i>匯出</button>
        <button class="cy-button btn-yellow" id="btnModifiy" disabled><i data-size="1">pencil</i>修改</button>
        <button class="cy-button btn-green" id="btnSelect" disabled><i data-size="1">check</i>選擇</button>
    </div>
    <div id="divQuery">
        <input type="text" id="queryTable" value="" placeholder="查詢資料表名稱" /><button class="cy-button btn-blue" id="btnQuery"><i data-size="1">zoom</i>查詢</button>
    </div>
    <div id="divInfo">
        <span>資料庫：@TempData["Catalog"]</span>
    </div>
</div>
<div id="gridTable"></div>