/* Author: cyberlancer
 * https://github.com/cyberlancertw/CyTool */

/* CyGrid 表格 */
.grid-table {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-collapse: collapse;
}

/* CyGrid 表格標題中的列 */
.grid-thead > tr {
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: table;
    width: calc(100% - 1rem);
    table-layout: fixed;
}

/* 表格標題列中的欄 */
.grid-thead > tr > th {
    text-align: left;
    border-width: 0;
    padding: 0.5rem 0.5rem;
    line-height: 1.5;
}

/* 表格標題列欄位靠左 */
.grid-th-left{
    text-align: left;
}

/* 表格標題列欄位靠右 */
.grid-th-right {
    text-align: right;
}

/* 表格資料主體 */
.grid-tbody{
    display: block;
    overflow-y: scroll;
    overflow-x: auto;
}

/* 表格資料中的列 */
.grid-tbody > tr {
    border-bottom-color: #dee2e6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* 表格資料中的偶數列 */
.grid-tbody>tr:nth-child(2n){
    background-color: azure;
}

/* 表格資料中的偶數列被選取時 */
.grid-tbody>tr:nth-child(2n).row-selected{
    background-color: #fedfe1;
}

/* 表格資料中的偶數列懸停時 */
.grid-tbody>tr:nth-child(2n):hover{
    background-color: #fedfe1;
}

/* 表格資料列中的欄 */
.grid-tbody > tr > td {
    border-width: 0px;
    padding: 0.5rem 0.5rem;
    line-height: 1.5;
}

/* 無資料時顯示的欄 */
.row-nodata {
    text-align: center;
}

/* 被選取的列 */
.row-selected {
    background-color: #fedfe1;
}

/* 被選取列的懸停樣式 */
.grid-row.row-selected:hover, .grid-tbody > tr:nth-child(2n).grid-row.row-selected:hover {
    background-color: #debfc1;
}

/* 表格資料中的列 */
.grid-row {
    cursor: pointer;

}

/* 表格資料列的懸停樣式 */
.grid-row:hover {
    background-color: #fedfe1;
}

/* 可排序的標題欄 */
.sortable {
    cursor: pointer;
}

/* 可排序的標題欄的懸停樣式 */
.sortable:hover {
    background-color: #ade0fe;
}

/* 分頁區 */
.grid-page {
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* 分頁的範圍區 */
.grid-page-range-block {
}

/* 分頁範圍區內的文字 */
.grid-page-range {
    color: #0000ff;
}

/* 分頁的中央按鈕區*/
.grid-page-button-block {
}

/* 分頁的按鈕 */
.grid-page-button {
    line-height: 1.5;
    padding: 2px 6px;
    width: 2.2rem;
    background-color: #e3e3e3;
    border-radius: 0.3rem;
    border: none;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* 分頁目前頁數的按鈕 */
.grid-page-button-pagenow {
    background-color: #b3b3b3;
}


/* 分頁可點選的按鈕 */
.grid-page-button-clickable:hover {
    cursor: pointer;
    background-color: #c3c3c3;
}

/* 分頁跳至與筆數區 */
.grid-page-info-block {
    display: flex;
    align-items: center;
}

/* 分頁跳至的下拉選單 */
.grid-page-jump {
    /*margin-left: 0.5rem;*/
}
/* 讀取畫面的背景*/
.cy-loading-background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    opacity: .5;
    z-index: 99998;
    display: none;
}
/* 讀取畫面的前景 */
.cy-loading-foreground {
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 99999;
    display: none;
}

/* 彈窗 alert 最外層*/
.cy-modal-alert{
    
}
/* 彈窗 alert confirm 背景*/
.cy-alert-background, .cy-confirm-background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #606060;
    position: absolute;
    opacity: .75;
    z-index: 99996;
}
/* 彈窗 alert confirm 前景*/
.cy-alert-foreground, cy-confirm-foreground {
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 99997;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0 10px #404040 ;
    transform: translate(-50%,-50%);
    animation-name: modalPop;
    animation-duration: 0.5s;
}

/* 彈窗出現的動畫 */
@keyframes modalPop {
    from {
        opacity: 0%;
    }
    to {
    }
}

/* 彈窗內容區塊 */
.cy-modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 彈窗標題列*/
.cy-modal-title{
    text-align: center;
    height: 1.5rem;
    padding: 0.8rem;
    border-bottom: 1px solid black;
}

/* 彈窗中間主內容 */
.cy-modal-main {
    padding: 1rem;
}

/*彈窗 alert 底部列*/
.cy-modal-alert-footer{
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}

/*彈窗 confirm 底部列*/
.cy-modal-confirm-footer {
    padding: 0.8rem;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
}

/* 按鈕共通樣式 */
.cy-button {
    cursor: pointer;
    font-size: 1rem;
    border-width: 3px;
    border-style: solid;
    padding: 0.375rem 0.75rem;
    border-radius: 0.4rem;
    display: inline-flex;
    align-items: center;
}

/* 按鈕取消共通樣式*/
.cy-button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

/* 彈窗 alert 按鈕*/
.cy-modal-alert-button {
    color: #000000;
    background-color: #7bd5ff;
    border-top-color: #9bd5ff;
    border-right-color: #5bb5df;
    border-bottom-color: #5bb5df;
    border-left-color: #9bd5ff;
}

/* 彈窗 alert 按鈕懸停 */
.cy-modal-alert-button:hover {
    background-color: #5bb5df;
    border-color: #5bb5df;
}

/* 彈窗 alert 按鈕點擊 */
.cy-modal-alert-button:active {
    background-color: #3b95bf;
    border-top-color: #1b759f;
    border-right-color: #5bb5df;
    border-bottom-color: #5bb5df;
    border-left-color: #1b759f;
}

/* 彈窗 confirm 確認按鈕 */
.cy-modal-confirm-button-ok {
    background-color: #7bd5ff;
    border-top-color: #9bd5ff;
    border-right-color: #5bb5df;
    border-bottom-color: #5bb5df;
    border-left-color: #9bd5ff;
}

/* 彈窗 confirm 確認按鈕懸停 */
.cy-modal-confirm-button-ok:hover {
    background-color: #5bb5df;
    border-color: #5bb5df;
}

/* 彈窗 confirm 確認按鈕點擊 */
.cy-modal-confirm-button-ok:active {
    background-color: #3b95bf;
    border-top-color: #1b759f;
    border-right-color: #5bb5df;
    border-bottom-color: #5bb5df;
    border-left-color: #1b759f;
}

/* 彈窗 confirm 取消按鈕*/
.cy-modal-confirm-button-no {
    background-color: #7bd5ff;
    border-top-color: #9bd5ff;
    border-right-color: #5bb5df;
    border-bottom-color: #5bb5df;
    border-left-color: #9bd5ff;
}

/* 彈窗 confirm 取消按鈕懸停*/
.cy-modal-confirm-button-no:hover {
    background-color: #5bb5df;
    border-color: #5bb5df;
}

/* 彈窗 confirm 取消按鈕點擊*/
.cy-modal-confirm-button-no:active {
    background-color: #3b95bf;
    border-top-color: #1b759f;
    border-right-color: #5bb5df;
    border-bottom-color: #5bb5df;
    border-left-color: #1b759f;
}


/* 彈窗背景*/
.cy-modal-background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #606060;
    position: absolute;
    opacity: .75;
    z-index: 99994;
}

/* 彈窗前景*/
.cy-modal-foreground {
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 99995;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0 10px #404040 ;
    transform: translate(-50%,-50%);
    animation-name: modalPop;
    animation-duration: 0.3s;
}
/* 彈窗隱藏*/
.cy-modal-close{
    display: none;
}

/* 彈窗開啟*/
.cy-modal-open{
    display: block;
}

/* 彈窗標題列 */
.cy-modal-title{
    display: flex;
    justify-content: space-between;
}

/* 彈窗關閉按鈕 */
.cy-modal-close-button{
    border:none;
    background-color: white;
    color: #c0c0c0;
    cursor: pointer;
}

/* 彈窗關閉按鈕懸停 */
.cy-modal-close-button:hover{
    color: #000000;
}

/* 圖示預設隱藏 */
i[data-size]{
    display:none;
}

/* 傳送清單最外層 */
.cy-transfer-wrap{
    display: flex;
    justify-content: center;
}

/* 傳送清單標題 */
.cy-transfer-label-from, .cy-transfer-label-to{
    font-size: 1rem;
    font-weight: 900;
    height: 10%;
    box-sizing: border-box;
}

/* 傳送清單的來源與目的區外層 */
.cy-transfer-from-wrap, .cy-transfer-to-wrap{
    width: 42%;
    height: 100%;
}

/* 過濾的查詢輸入框 */
.cy-transfer-filter-textbox{
    line-height: 1.5;
    padding: 0.3rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 0.2rem;
}
/* 傳送清單來源區 */
.cy-transfer-from{
    padding: 1rem;
    border: 1px solid black;
    overflow: auto;
    height: 90%;
    box-sizing: border-box;
}

/* 傳送清單按鈕區 */
.cy-transfer-button{
    width: 15%;
    padding: 1rem;
}

/* 傳送清單目的區 */
.cy-transfer-to{
    padding: 1rem;
    border: 1px solid black;
    overflow: auto;
    height:90%;
    box-sizing: border-box;
}

/* 傳送清單項目 */
.cy-transfer-item{
    line-height: 1.5;
    padding: 0.6rem;
    cursor: pointer;
}

/* 傳送清單項目因過濾而隱藏 */
.cy-transfer-item.hidden{
    display:none;
}

/* 傳送清單中項目的分隔線 */
.cy-transfer-from > div:not(:last-child), .cy-transfer-to > div:not(:last-child){
    border-bottom: 1px solid #fedfe1;
}

/* 傳送清單中項目的分隔線 */
.cy-transfer-from > div:not(:first-child), .cy-transfer-to > div:not(:first-child){
    border-top: 1px solid #fedfe1;
}

/* 傳送清單項目懸停*/
.cy-transfer-item:hover{
    background-color: #bbf5ff;
}

/* 傳送清單項目選取 */
.cy-transfer-item.selected{
    background-color: #abe5ff;
}

/* 傳送清單項目選取又懸停 */
.cy-transfer-item.selected:hover{
    background-color: #9bd5ff;
}

/* 傳送清單按鈕區外層 */
.cy-transfer-button-wrap{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/* 藍色按鈕*/
.btn-blue {
    color: #000000;
    background-color: #7bd5ff;
    border-top-color: #9bd5ff;
    border-right-color: #5bb5df;
    border-bottom-color: #5bb5df;
    border-left-color: #9bd5ff;
}

/* 藍色按鈕懸停 */
.btn-blue:hover {
    background-color: #5bb5df;
    border-color: #5bb5df;
}

/* 藍色按鈕點擊 */
.btn-blue:active {
    background-color: #3b95bf;
    border-top-color: #1b759f;
    border-right-color: #5bb5df;
    border-bottom-color: #5bb5df;
    border-left-color: #1b759f;
}

/* 紅色按鈕*/
.btn-red {
    color: #000000;
    background-color: #f88aa0;
    border-top-color: #f8aac0;
    border-right-color: #d86a80;
    border-bottom-color: #d86a80;
    border-left-color: #f8aac0;
}

/* 紅色按鈕懸停 */
.btn-red:hover {
    background-color: #d86a80;
    border-color: #d86a80;
}

/* 紅色按鈕點擊 */
.btn-red:active {
    background-color: #d86a80;
    border-top-color: #b84a60;
    border-right-color: #f8aac0;
    border-bottom-color: #f8aac0;
    border-left-color: #b84a60;
}
/* 紅色按鈕取消*/
.btn-red:disabled {
    background-color: #f88aa0;
    border-top-color: #f8aac0;
    border-right-color: #d86a80;
    border-bottom-color: #d86a80;
    border-left-color: #f8aac0;
}

/* 黃色按鈕*/
.btn-yellow {
    color: #000000;
    background-color: #fff498;
    border-top-color: #ffffb8;
    border-right-color: #dfd478;
    border-bottom-color: #dfd478;
    border-left-color: #ffffb8;
}

/* 黃色按鈕懸停 */
.btn-yellow:hover {
    background-color: #dfd478;
    border-color: #dfd478;
}

/* 黃色按鈕點擊 */
.btn-yellow:active {
    background-color: #dfd478;
    border-top-color: #bfb458;
    border-right-color: #ffffb8;
    border-bottom-color: #ffffb8;
    border-left-color: #bfb458;
}

/* 黃色按鈕取消*/
.btn-yellow:disabled {
    background-color: #fff498;
    border-top-color: #ffffb8;
    border-right-color: #dfd478;
    border-bottom-color: #dfd478;
    border-left-color: #ffffb8;
}

/* 綠色按鈕 */
.btn-green {
    color: #000000;
    background-color: #86c166;
    border-top-color: #a6e186;
    border-right-color: #66a146;
    border-bottom-color: #66a146;
    border-left-color: #a6e186;
}

/* 綠色按鈕懸停 */
.btn-green:hover {
    background-color: #66a146;
    border-color: #66a146;
}

/* 綠色按鈕點擊 */
.btn-green:active {
    background-color: #66a146;
    border-top-color: #468126;
    border-right-color: #a6e186;
    border-bottom-color: #a6e186;
    border-left-color: #468126;
}

/* 綠色按鈕取消 */
.btn-green:disabled {
    background-color: #86c166;
    border-top-color: #a6e186;
    border-right-color: #66a146;
    border-bottom-color: #66a146;
    border-left-color: #a6e186;
}

/* 灰色按鈕*/
.btn-gray {
    color: #000000;
    background-color: #c3c3c3;
    border-top-color: #e3e3e3;
    border-right-color: #a3a3a3;
    border-bottom-color: #a3a3a3;
    border-left-color: #e3e3e3;
}

/* 灰色按鈕懸停 */
.btn-gray:hover {
    background-color: #a3a3a3;
    border-color: #a3a3a3;
}

/* 灰色按鈕點擊 */
.btn-gray:active {
    background-color: #a3a3a3;
    border-top-color: #838383;
    border-right-color: #e3e3e3;
    border-bottom-color: #e3e3e3;
    border-left-color: #838383;
}

/* 灰色按鈕取消 */
.btn-gray:disabled {
    background-color: #c3c3c3;
    border-top-color: #e3e3e3;
    border-right-color: #a3a3a3;
    border-bottom-color: #a3a3a3;
    border-left-color: #e3e3e3;
}

/* 黑色按鈕 */
.btn-black {
    color: #fedfe1;
    background-color: #434343;
    border-top-color: #636363;
    border-right-color: #232323;
    border-bottom-color: #232323;
    border-left-color: #636363;
}

/* 黑色按鈕懸停 */
.btn-black:hover {
    background-color: #232323;
    border-color: #232323;
}

/* 黑色按鈕點擊 */
.btn-black:active {
    background-color: #232323;
    border-top-color: #030303;
    border-right-color: #636363;
    border-bottom-color: #636363;
    border-left-color: #030303;
}

/* 黑色按鈕取消 */
.btn-black:disabled {
    background-color: #434343;
    border-top-color: #636363;
    border-right-color: #232323;
    border-bottom-color: #232323;
    border-left-color: #636363;
}

/* 白色按鈕 */
.btn-white {
    color: #000000;
    background-color: #fcfaf2;
    border-top-color: #ffffff;
    border-right-color: #dcdad2;
    border-bottom-color: #dcdad2;
    border-left-color: #ffffff;
}

/* 白色按鈕懸停 */
.btn-white:hover {
    background-color: #dcdad2;
    border-color: #dcdad2;
}

/* 白色按鈕點擊 */
.btn-white:active {
    background-color: #dcdad2;
    border-top-color: #bcbab2;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #bcbab2;
}

/* 白色按鈕取消 */
.btn-white:disabled {
    background-color: #fcfaf2;
    border-top-color: #ffffff;
    border-right-color: #dcdad2;
    border-bottom-color: #dcdad2;
    border-left-color: #ffffff;
}

/* 紫色按鈕 */
.btn-purple {
    color: #000000;
    background-color: #b98cc3;
    border-top-color: #d9a8e3;
    border-right-color: #996ca3;
    border-bottom-color: #996ca3;
    border-left-color: #d9a8e3;
}

/* 紫色按鈕懸停 */
.btn-purple:hover {
    background-color: #996ca3;
    border-color: #996ca3;
}

/* 紫色按鈕點擊 */
.btn-purple:active {
    background-color: #996ca3;
    border-top-color: #794c83;
    border-right-color: #b98cc3;
    border-bottom-color: #b98cc3;
    border-left-color: #794c83;
}

/* 紫色按鈕取消 */
.btn-purple:disabled {
    background-color: #b98cc3;
    border-top-color: #d9a8e3;
    border-right-color: #996ca3;
    border-bottom-color: #996ca3;
    border-left-color: #d9a8e3;
}

/* 橘色按鈕 */ 
.btn-orange {
    color: #000000;
    background-color: #e9bb52;
    border-top-color: #ffdb72;
    border-right-color: #c99b32;
    border-bottom-color: #c99b32;
    border-left-color: #ffdb72;
}

/* 橘色按鈕懸停 */ 
.btn-orange:hover {
    background-color: #c99b32;
    border-color: #c99b32;
}

/* 橘色按鈕點擊 */ 
.btn-orange:active {
    background-color: #c99b32;
    border-top-color: #a97b12;
    border-right-color: #e9bb52;
    border-bottom-color: #e9bb52;
    border-left-color: #a97b12;
}

/* 橘色按鈕取消 */ 
.btn-orange:disabled {
    background-color: #e9bb52;
    border-top-color: #ffdb72;
    border-right-color: #c99b32;
    border-bottom-color: #c99b32;
    border-left-color: #ffdb72;
}

/* 櫻色按鈕 */
.btn-sakura {
    color: #000000;
    background-color: #fedfe1;
    border-top-color: #ffffff;
    border-right-color: #debfc1;
    border-bottom-color: #debfc1;
    border-left-color: #ffffff;
}

/* 櫻色按鈕懸停 */ 
.btn-sakura:hover {
    background-color: #debfc1;
    border-color: #debfc1;
}

/* 櫻色按鈕點擊 */ 
.btn-sakura:active {
    background-color: #debfc1;
    border-top-color: #be9fa1;
    border-right-color: #fedfe1;
    border-bottom-color: #fedfe1;
    border-left-color: #be9fa1;
}

/* 櫻色按鈕取消 */ 
.btn-sakura:disabled {
    background-color: #fedfe1;
    border-top-color: #ffffff;
    border-right-color: #debfc1;
    border-bottom-color: #debfc1;
    border-left-color: #ffffff;
}